<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AIUS</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" integrity="<%= Routes.static_integrity(@conn, "/css/app.css") %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="app">Please enable JavaScript!</div>
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>" integrity="<%= Routes.static_integrity(@conn, "/js/app.js") %>"></script>
  </body>
</html>
