<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello React!</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
    <div id="app">Please enable JavaScript!</div>
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
